@charset "UTF-8";
*{  
   margin:0;  
   padding:0;  
   font-size:16px;  
   font-family:"微软雅黑";  
}  

.content{
	width: 100%;
    height:100%;
    margin:auto;
}

#contentform{
	width:90%;
	margin:auto;
}

.content #volform{
	display:block;
	margin:3%;
	padding: 17% 2% 5% 2%;
	border-radius: 20px;
	background-color: #dcd296;
}
.content #lectureform{
	display:block;
	margin:3%;
	padding: 17% 2% 5% 2%;
	border-radius: 20px;
	background-color: #dcd296;
}
/* 对图片进行设置 */
.content .help{
	display:block;
	margin-bottom:8px;
}


.layui-form-label{
	padding:9px 0 !important;
}

.layui-form-label{
	width:70px !important;
}


/* 对输入框设置高度 */
.layui-input{
	height:35px;
}
/* 使得输入框和名字在同一行 */
.layui-input-block{
	margin-left: 88px;
}

/* 对按钮进行设置 */
#contentbtn{
	display:block;
	margin:15% auto 8%;
}
.layui-btn{
	border-radius: 10px;
	width:100%;
	padding: 0;
	text-align:center;
	height:45px;
	font-size:18px;
}
